.page {
  min-height: 100vh;
  padding: 1rem;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.card {
  width: 100%;
  max-width: 1280px;
  background-color: #f8f8f8;
  border: 1px solid #d1d1d1;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid #000;
}

.title {
  font-size: 1.25rem;
  font-weight: 500;
  margin: 0;
}

.profileCircle {
  width: 1.5rem;
  height: 1.5rem;
  border: 1px solid #000;
  border-radius: 50%;
}

.toolbar {
  display: flex;
  border-bottom: 1px solid #d1d1d1;
}

.tab {
  flex: 1;
  text-align: center;
  padding: 0.75rem;
  background-color: #e0e0e0;
  font-weight: 500;
  text-decoration: none;
  color: black;
  cursor: pointer;
  border-right: 1px solid #d1d1d1;
}

.tab:last-child {
  border-right: none;
}

.tab.active,
.tab.active:hover {
  background-color: #d1d5db;
}

.importSection {
  margin: 1rem;
  padding: 1rem;
  border: 1px solid #d1d1d1;
  border-radius: 6px;
  background-color: #fff;
}

.deckInput {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #d1d1d1;
  border-radius: 4px;
  font-size: 1rem;
  outline: none;
  margin-bottom: 1rem;
}

.gridContainer {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.annotateButton {
  margin-top: 1rem;
  padding: 0.75rem 1.5rem;
  background-color: #3b82f6;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  align-self: flex-end;
}

.annotateButton:hover {
  background-color: #2563eb;
}

.decksGrid {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
  justify-content: space-between;
}

.deck {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border: 1px solid #d1d1d1;
  padding: 1rem;
  border-radius: 6px;
  background-color: #fff;
  position: relative;
}

.deckTitle {
  font-weight: 500;
  font-size: 1rem;
  border: 1px solid #d1d1d1;
  border-radius: 4px;
  padding: 0.25rem;
  background-color: #f0f0f0;
  text-align: left;
}

.deckRow {
  display: flex;
  gap: 0.5rem;
  overflow: hidden;
  align-items: center;
}

.deckImg {
  width: 60px;
  aspect-ratio: 2/3;
  border: 1px solid #d1d1d1;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gridImage {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.nextButton {
  width: 2rem;
  height: 100%;
  font-size: 1.5rem;
  background-color: #f3f4f6;
  border: 1px solid #d1d5db;
  border-radius: 4px;
  cursor: pointer;
}
